body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f4; 
}

.square {
  height: 20px;
  width: 25px;
  margin-left: 60px;
}


.icon  {
	text-align: center;
	height: 30px;
	margin-bottom: 50px;
}

.information-holder2 h4 {
	color: #717476;
	font-size: 20px;
	margin-left: 20px;
	text-align: center;
	
}

.information-holder2 h5 {
	color: #717476;
	font-size: 18px;
	margin-left: 20px;
	text-align: center;
	/*font-weight: bold;*/
	
}

.information-holder2 p {
	display: inline-block;
	color: #717476;
	margin-left: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}


.information-holder2 {
	float: right;
	display: inline-block;
	background-color: white; 
	margin: 0 10px;
	width: 500px;
	/*margin-left: 550px;*/
	margin-right: 30px;
	margin-top: 20px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	/*margin-bottom: 50px;*/
}

.action-holder {
	float: left;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 20px;
}

.search-container {
  float: right;
  z-index: -5;
}


.search-container button {
  float: right;
  padding: 0px 10px;
  border-bottom: 1px solid #4b535b;
  /*margin-top: 8px;*/
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  /*border: none;*/
  cursor: pointer;
}

.search-container input[type=text] {
	z-index: -5;
	font-size: 15px;
}

.search-container button:hover {
  background: #ccc;
}

#navbar {
  	width: 100%;
  	float: left;
  	height: 50px;
  	overflow: hidden;
 	background-color: #f3f3f4;
   	margin-bottom: 20px;
   	top: 0;
   	position: fixed;
   	z-index: 5;
}

#navbar img {
	margin-top: 15px;
}

#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	right: 0;
	margin-right: 30px;
}

#navbar ul li {
	float: right;
	list-style: none;
	display: block;
	padding: 0;
	right: 0;x
	position: absolute;
}

.logout {
	font-size: 15px;
	text-align: right;
	padding-top: 20px;
	color:  #a7b1c2;
	margin-left: 5px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 5px;
}

.logout:hover {
	color: red;
}

a {
	text-decoration: none;
}

.welcome {
	font-size: 15px;
	text-align: right;
	padding-top: 20px;
	color:  #a7b1c2;
	margin-right: 30px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 5px;
}


.name {
	height: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-left: 25px;
	border-bottom: 1px solid #4d5158;
}

.name img {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-top: 10px;
}

.name h1 {
	font-size: 15px;
	color: white;
	font-weight: 600;
	text-align: left;
	margin-top: 70px;
	margin-left: 10px;
}

.name p {
	text-align: left;
	margin-left: 10px;
	margin-top: -5px;
	font-size: 12px;
	color: #a7b1c2;
}

.users {
	width: 225px;
	border-bottom: 1px solid #4d5158;
	position: relative;
	display: inline-block;
}

.dropdown {
	display: none;
	position: absolute;
	min-width: 200px;
	margin-left: 50px;
	margin-top: 0px;
	z-index: 3;
	background-color: #747981;
}

.dropdown-settings {
	display: none;
	position: absolute;
	min-width: 200px;
	right: 0px;
	margin-right: 45px;
	margin-top: 0px;
	z-index: 3;
	background-color: #747981;
}

.dropdown a {
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 10px;
	color:white;
	text-decoration: none;
	display: block;
	font-size: 13px;
	border-bottom: 1px solid #4d5158;
	border-left: 5px solid #19aa8d;
}

.dropdown-settings a {
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 10px;
	color:white;
	text-decoration: none;
	display: block;
	font-size: 13px;
	border-bottom: 1px solid #4d5158;
	border-left: 5px solid #19aa8d;
}



.dropdown-settings a:hover {
	/*opacity: 0.8;*/
	background-color: #343a40;
	border-left: 2px solid #19aa8d;
	color: white;
}

.dropdown a:hover {
	/*opacity: 0.8;*/
	background-color: #343a40;
	border-left: 2px solid #19aa8d;
	color: white;
}

.settings:hover .dropdown-settings {
	display: block;
}

.users:hover .dropdown {
	display: block;
}

.evacs:hover .dropdown {
	display: block;
}

.users h1 a:hover {
	opacity: 0.8;
}

.users h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.users img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 13px;
}

.messages {
	border-bottom: 1px solid #4d5158;
}

.dashboard {
	border-bottom: 1px solid #4d5158;
}

.messages:hover {
	opacity: 0.8;
}

.dashboard:hover {
	opacity: 0.8;
}


.messages h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}


.dashboard h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.messages img {
	height: 12px;
	width: 15px;
	margin-left: 30px;
	margin-top: 5px;
}

.dashboard img {
	height: 12px;
	width: 15px;
	margin-left: 30px;
	margin-top: 5px;
}

.updates {
	border-bottom: 1px solid #4d5158;
}

.updates:hover {
	opacity: 0.8;
}

.updates h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.updates img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}


.alerts {
	border-bottom: 1px solid #4d5158;
}



.alerts h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.alerts img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}

.alerts:hover .dropdown {
	display: block;
}

.alerts h1 a:hover {
	opacity: 0.8;
}


.evacs {
	border-bottom: 1px solid #4d5158;
}
s

.evacs:hover .dropdown {
	display: block;
}

.evacs h1 a:hover {
	opacity: 0.8;
}

.evacs h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.evacs img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}


.maps {
	border-bottom: 1px solid #4d5158;
}

.maps:hover {
	opacity: 0.8;
}

.maps h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.maps img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}

.stats {
	border-bottom: 1px solid #4d5158;
}

.stats:hover {
	opacity: 0.8;
}

.stats h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.stats img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}


.webs {
	border-bottom: 1px solid #4d5158;
}

.webs:hover {
	opacity: 0.8;
}

.webs h1 {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	margin-left: 30px;
}

.webs img {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-top: 4px;
}










.menus {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menu {
	margin-left: 200px;
	margin-top: 100px;
}

.menu1 {
	margin-right: 200px;
	margin-top: 100px;
}

button {
	display: block;
}



.table h4 {
	color: #676a6c;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  padding-top: 8px;
  padding-bottom: 8px;
  color:  #717476;
}

#customers tr {
	background-color: white;
	border-bottom: 1px solid #ddd;
  	width: 200px;
}

#customers tr:nth-child(even){
	background-color: white;
}


#customers tr:hover {background-color: #f5f5f5;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color:  #717476;

}


.content-holder {
	margin-left: 225px;
	min-height: 100%;
	max-height: 100%;
	margin-top: 50px;
}


.table {
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
}


.title {
	height: 120px;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #717476;
	background-color: white;
}


.title h4 {
	/*width: 250px;*/
}

.title a:hover {
	color: red;
}


.profile-name {
	height: 130px;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #717476;
	background-color: white;
}

.profile-name h4 {
	font-size: 25px;
	/*margin-left: 30px;*/
}

.profile-name span {
	color: #818080;
}

.profile-picture img {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	height: 90px;
	width: 90px;
}

.action-icon {
	top: 3px;
	font-size: 13px;
	float: right;
	/*margin-top: 30px;*/
	margin-right: 20px;
	/*margin-top: 0%;*/
	/*margin-bottom: auto;*/
	/*top: 30px;*/
	/*display: inline-block;*/
	/*margin-top: 30px;*/
}


.action-icon p {
	display: inline-block;
}

.action-icon p:hover {
	color: red;
}

.action-icon img {
	width: 20px;
	height: 25px;
}

.information-holder {
	display: inline-block;
	background-color: white; 
	margin: 0 10px;
	width: 500px;
	/*padding-left: 50px;
	padding-right: 50px;*/
	margin-left: 30px;
	/*margin-right: 550px;*/
	margin-top: 20px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	/*margin-bottom: 50px;*/
	padding-bottom: 30px;
}

.information-holder h4 {
	color: #717476;
	font-size: 20px;
	margin-left: 20px;
	text-align: center;
	
}

.information-holder h5 {
	color: #717476;
	font-size: 15px;
	margin-left: 30px;
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 4px;

	/*left: 20px;*/
	/*font-weight: bold;		*/
}

.information-holder p {
	display: inline-block;
	color: #1f6a9c;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.map-holder {
	float: right;
	display: inline-block;
	background-color: white; 
	margin: 0 10px;
	width: 500px;
	/*margin-left: 550px;*/
	margin-right: 30px;
	margin-top: 20px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	/*margin-bottom: 50px;*/
}


.change-picture {
	float: right;
	display: inline-block;
	background-color: white; 
	margin: 0 10px;
	width: 500px;
	/*margin-left: 550px;*/
	margin-right: 30px;
	margin-top: 20px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	/*margin-bottom: 50px;*/
	padding-bottom: 30px;
}

.change-picture h4 {
	color: #717476;
	font-size: 23px;
	margin-left: 20px;
	text-align: center;
}

.change-picture img {
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 30px;
}

.change-picture input {
	margin-left: 30px;
	margin-top: 25px;
}



.title span {
	font-size: 12px;
}


.column {
	
	padding-left: 20px;
}


.holder {
	background-color: white; 
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	margin-bottom: 50px;
	
}


.customers button {
	width: 30px;
	height: 20px;
}


.form-holder {
	background-color: white; 
	margin-left: 15%;
	margin-top: 20px;
	border-top: 5px solid #e7eaec;
	border-bottom: 5px solid #e7eaec;
	margin-bottom: 50px;
	width: 70%;
}





.add-form {
	position: relative;
	margin-left: 0 auto;
	display: flex;
	justify-content: center;

}


.add-form > div {
	float: right;
	margin: 10px;
}

.holder h4 {
	padding-left: 20px;
	color:  #717476;
	
}


.form-holder h2 {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color:  #717476;
  padding-left: 20px;
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

form {
	margin-bottom: 20px;
}



.add-form label {
  color: #717476;
  font-size: 15px;
  display: inline-block;
}


.add-form input {
  margin: 5px 10px 5px 20px;
  margin-bottom: 15px;
  margin-right: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding-right: 25px;
  width: 180px;
}

.add-form select {
  margin: 5px 10px 5px 20px;
  margin-bottom: 15px;
  margin-right: 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding-right: 25px;
  width: 180px;
}


.submit-button {
	display: flex;
	justify-content: space-between;
}

.submit-button button {
	align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.submit-button button:hover {
  opacity: 0.8;
}


#customers button {
	background-color: inherit;
	border: none;
	width: 20px;
	height: 25px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 500px;
}

.modal-content p {
	text-align: center;
}

.modal-content button {
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	width: 80px;
}

.modal-content button:hover {
	opacity: 0.8;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}