{% extends "mainadmin-base.html" %}
{% block content %}

<div class="content-holder">

	<div class="title">
		<h4>USER MANAGEMENT</h4> 
		<span>Home / Users / Admin / <b> View </b></span>

    


     <div class="search-container">
      
      <form action="{{ url_for('search_user') }}" method="post">
        <input type="text" name="keyword" placeholder="Search user.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

     
	</div>

<div class="action-holder">
          <a href="/add/user/admin"><img src="/static/img/add-user.png" width="30" height="30" style="margin: 5px;" align="left"  /></a>
          <!-- <h1><a href="#">Evacuation &nbsp &nbsp > </a></h1> -->
</div>

<div class="holder">
<div class="table">
<table id="customers">	

	<div class="column">
		<tr>
		  	<th>USERNAME</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>ROLE</th>
		    <th>EMAIL</th>
        <th>VIEW</th>
		  </tr>
	</div>
  {% for user in json_data.data %}
  <tr>
    <td> {{ user.username }}</td>
    <td> {{ user.first_name }} {{ user.last_name }}</td>
    <td> {{ user.gender }}</td>
    <td> {{ user.role }}</td>
    <td> {{ user.email }}</td>

    <td style="position: relative; display: flex; ">
      <a href = "{{ url_for('viewprofile_admin',public_id=user.public_id, username=user.username) }}"><img src="/static/img/web.png" style="margin:5px;" width="25" height="25"  /></a>
      
    </td>

  </tr>
  <div id="myModal" class="modal">
      <!-- Modal content -->
        <div class="modal-content" >
          <span class="close">&times;</span>
          <p>Are you sure to delete this user?</p>
          <div style="position: relative; display: flex; justify-content: center;" >
          <button style="background-color:#de0020;"><a href="{{ url_for('delete_admin', public_id=public_id) }}">Yes</a></button>
          <button style="background-color: #0bbc94;"><a href="{{ url_for('viewuser') }}">No</a></button>
        </div>
  </div> 
 
 {% endfor %}
</table>
<!-- Trigger/Open The Modal -->


<!-- The Modal -->

</div>
</div>
</div>
</div>



<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>	
{% endblock %}